#header{


		background-color: steeblue;
		color:white;
		text-align: center;
		padding: 5px;
		font-weight: 200px;	

        }

#nav{


		line-height: 100px;
		background-color: #48D1CC;
		color: white;
		height: 110px;
		width: 350px;
		padding: 5px;

	}

#section{

		width: 350px
		padding:10px;

		}	

#footer{


			background-color: steelblue;
			color: white;
			clear: both;
			text-align: center;
			padding: 5px;	}

