nav ul{
	padding:0px;
	margin:0px;
list-style-type:none;
}

nav li{
	display:inline;
	width:1000px;
	height:40px;
	margin:0px;
	padding:0px;
	border-right:1px solid #CCCCCC;
	text-align:center;
	line-height:40px;
}

nav li:hover{
	background-color:#3388BB;
}

nav li a{
	text-decoration:none;
	
}
table{
	 WIDTH:50%;
	 color: black;
	 background-color: yellow;
	 text-align:center;
	
}
form {
	 line-height:0px;
	 ;
	 
	 
	
	
}

h1 {
	color: white;
	width:1000px;
	height:40px;
	margin:0px;
	padding:0px;
	background-color: blue;
	border: outset;
	
}
h6 {
	color:white;
	border:hidden;
	background-color: blue;
	height: 20px;
	text-align:center;
	width:;
	margin-top: 200px; 
}
header {
	text-align:center;
	color: black;
	border:dotted;
	
	
}
.bouton{
	background-color:green;
}